.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 5em;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
}

.left-part {
  display: flex;
  align-items: center;
  gap: 1em;
}

.logo h6 {
  margin: 0;
}

.navlinks {
  flex: 5;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.navlinks a {
  color: lightgrey;
  text-decoration: none;
  font-size: 0.833rem;
}
