.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5em;
}

.logo, .dark-mode-toggle {
  flex: 1;
}

.navlinks {
  flex: 5;
  display: flex;
  justify-content: center;
  gap: 5em;
}

.navlinks a {
  color: lightgrey;
  text-decoration: none;
}
