.search-bar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

.search-bar-container {
  position: relative;
  width: 70%;
  max-width: 800px;
  display: flex;
  flex-direction: column;

}

.search-bar-container input {
  padding: 0.5em 0.5em 0.5em 2em;
  font-size: 1.44em;
  border-radius: 12px 12px 0 0;
  border: none;
  outline: none;
  color: lightgrey;

}

.search-icon {
  position: absolute;
  top: 25px;
  left: 0.5em;
  transform: translateY(-50%);
  font-size: 1.2em;
  color: gray;
  display: flex;
  z-index: 100;
}

.search-bar-container .search-results {
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 0 0 12px 12px;
}

.search-results p {
  padding: 1em 3em;
  padding-right: 1em;
  border-bottom: 1px;
}

.search-bar-container .blurred-bg {
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.no-results-container, .no-search-term {
  border-radius: 0 0 12px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 4rem;
}

h6, p {
  margin: 0;
}

.search-bar-container .no-results-image {
  background-color: hsl(240, 7%, 11%);
  padding: 1rem;
  height: 24px;
  width: 24px;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.result-container {
  display: flex;
}

.result-container:not(:first-child) {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.types-container {
  display: flex;
  align-items: center;
}

.types {
  display: flex;
  gap: 0.5em;
}

.types p {
  padding: 0.3em 0.8em;
  border-radius: 8px;
  font-size: 0.7em;
  font-weight: 600;
  text-transform: capitalize;
}

.search-results .selected {
  background-color: hsl(240, 7%, 11%);
  color: white;
}
