<div class="search-bar-overlay" (click)="closeSearchBar()">
  <div class="search-bar-container" (click)="$event.stopPropagation()">

    <div class="search-bar">
      <span class="search-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search mr-2 h-4 w-4 shrink-0 opacity-50"><circle cx="11" cy="11" r="8"></circle><path d="m21 21-4.3-4.3"></path></svg>
      </span>
      <input #searchInput type="text" placeholder="Search..." class="blurred-bg shadow" [(ngModel)]="searchTerm" (input)="onSearchChange()">

    </div>


    <div *ngIf="filteredPokemons.length == 0 && searchTerm.length > 0" class="no-results-container blurred-bg shadow">
      <div class="no-results-image blurred-bg shadow">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search mr-2 h-4 w-4 shrink-0 opacity-50"><circle cx="11" cy="11" r="8"></circle><path d="m21 21-4.3-4.3"></path></svg>
      </div>
      <h6>No results found</h6>
      <p>"{{searchTerm}}" did not match any pokemon</p>
      <p>Try searching for another Pokemon</p>
    </div>

    <div *ngIf="filteredPokemons.length == 0 && searchTerm.length == 0" class="no-search-term blurred-bg shadow">
      <div class="no-results-image blurred-bg shadow">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search mr-2 h-4 w-4 shrink-0 opacity-50"><circle cx="11" cy="11" r="8"></circle><path d="m21 21-4.3-4.3"></path></svg>
      </div>
      <h6>Type something</h6>
    </div>

    <div *ngIf="filteredPokemons.length > 0" class="search-results blurred-bg shadow">
      <div *ngFor="let pokemon of filteredPokemons; let i = index" class="result-container" [ngClass]="{'selected': i === selectedIndex}" (click)="selectPokemon(pokemon)">
        <div class="img-container">
          <img src="{{pokemon.spriteUrl}}" alt="{{pokemon.name}}">
        </div>
        <p class="pokemon-name">{{ pokemon.name }}</p>
        <div class="types-container">
          <div class="types">
            <p *ngIf="pokemon.types.length > 0" [ngClass]="'type-' + pokemon.types[0]" class="shadow">{{pokemon.types[0]}}</p>
            <p *ngIf="pokemon.types.length > 1" [ngClass]="'type-' + pokemon.types[1]" class="shadow">{{pokemon.types[1]}}</p>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
