.left-right-container {
  display: flex;
  align-items: center;
  margin-top: 5rem;
}

.left-part {
  flex: 2;
  position: relative;
}

.right-part {
  flex: 1;
}

.left-part .img-container img {
  width: 60%;
  height: auto;

  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: crisp-edges; /* Safari, Chrome, Edge */

}

.bottom-container {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  margin-top: 2rem;
  padding-inline: 12rem;
}

.bottom-container p, .bottom-container h6 {
  margin: 0;
}

.bottom-container p {
  opacity: 0.6;
}

.types p {
  opacity: 1;
}

.bottom-container h6 {
  margin-bottom: 0.6rem;
}

.bottom-container .pokemon-container {
  flex: 1;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.lil-jap-name {
  margin: 0;
  position: absolute;
  left: -2rem;
  font-size: 10rem;
  white-space: nowrap;
  opacity: 0.03;
}

.bottom-container .pokemon-info-container {
  padding: 2rem 4rem;

  display: flex;
  justify-content: center;
  gap: 3rem;
  z-index: 2;
}

.bottom-container .left {
  display: flex;
  flex-direction: column;
}

.bottom-container .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bottom-container .pokemon-info {
  display: flex;
  flex-direction: column;
}

.bottom-container .types {
  display: flex;
}

.bottom-container .img-container img {
  width: 8rem;
  height: 8rem;
  filter: saturate(1.5);
}

.jap-name {
  position: absolute;
  font-size: 12vw;
  font-weight: 900;
  z-index: -1;
  opacity: 0.8;
  top: -200px;
  right: 50px;
  white-space: nowrap;
}

.base-info-container h1 {
  margin: 0;
  text-transform: capitalize;
  letter-spacing: 0.5rem;
  font-weight: 700;
}

.base-info-container p {
  margin: 0;
  opacity: 0.6;
}

.types {
  display: flex;
  gap: 0.5em;
}

.types p {
  padding: 0.3em 0.8em;
  border-radius: 8px;
  font-size: 0.7em;
  font-weight: 600;
  text-transform: capitalize;
}

.stats {
  display: flex;
}

.stat-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stat-container p {
  flex: 1;
  margin-block: 0.5rem;
}

.stat-container p:first-child {
  text-align: end;

}

.stat-container meter {
  width: 50%;
  flex: 5;
  margin-inline: 1rem;
}

.description-container {
  padding: 1rem 2rem;
  border-radius: 12px;
  margin-top: 1rem;
}

.description-container p {
  font-weight: 300;
  margin: 0;
  opacity: 0.6;
}

.additional-info-container {
  display: flex;
  gap: 1rem;
}

.additional-info-container div {
  flex: 1;
  text-align: center;

  padding: 1rem;
  border-radius: 12px;
  margin-block: 1rem;
}

.additional-info-container div p {
  margin: 0;
  font-weight: 200;
  opacity: 0.6;
}

.additional-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name-container h1 {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.name-container span {
  font-size: 0.8rem;
  font-weight: 800;
  letter-spacing: 0.1rem;
  padding: 0.2rem 0.8rem;
  margin-left: 1rem;
  border-radius: 14px;
  color: rgba(0, 0, 0, 0.65);

  box-shadow:
    inset 0 0 50px var(--color1),
    inset 20px 0 60px var(--color2),
    inset -20px 0 60px var(--color3),
    inset 20px 0 300px var(--color2),
    inset -20px 0 300px var(--color3),
    0 0 10px var(--color1),
    -10px 0 20px var(--color2),
    10px 0 20px var(--color3);
}



.name-container .mythical {
  --color1: #ff0000; /* Red */
  --color2: violet;
  --color3: #ff00ff; /* Magenta */

}



.name-container .legendary {
  --color1: #fff; /* White */
  --color2: violet;
  --color3: #0ff; /* Cyan */

}


.name-container .baby {
  --color1: #ffb6c1; /* Light Pink */
  --color2: #ff69b4; /* Hot Pink */
  --color3: #ff1493; /* Deep Pink */

}


