.page-container {
  display: flex;
  align-items: center;
  margin-top: 5rem;
}

.left-part {
  flex: 2;
  position: relative;
}

.right-part {
  flex: 1;
}

.jap-name {
  position: absolute;
  font-size: 12vw;
  font-weight: 900;
  z-index: -1;
  opacity: 0.6;
  top: -200px;
  right: 50px;
  white-space: nowrap;



}

.base-info-container h1 {
  margin: 0;
  text-transform: capitalize;
  letter-spacing: 0.5rem;
  font-weight: 700;
}

.base-info-container p {
  margin: 0;
  opacity: 0.6;
}

.types {
  display: flex;
  gap: 0.5em;
}

.types p {
  padding: 0.3em 0.8em;
  border-radius: 8px;
  font-size: 0.7em;
  font-weight: 600;
  text-transform: capitalize;
}

.stats {
  display: flex;
}

.stat-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stat-container p {
  flex: 1;
  margin-block: 0.5rem;
}

.stat-container p:last-child {
  text-align: end;
}

.stat-container meter {
  width: 50%;
  flex: 5;
}

.description-container {
  padding: 1rem 2rem;
  border-radius: 12px;
  margin-top: 1rem;
}

.description-container h6 {
  font-weight: 300;
  margin: 0;
}

.additional-info-container {
  display: flex;
  gap: 1rem;
}

.additional-info-container div {
  flex: 1;
  text-align: center;

  padding: 1rem;
  border-radius: 12px;
  margin-block: 1rem;
}

.additional-info-container div p {
  margin: 0;
  font-weight: 200;
  opacity: 0.6;
}

.name-container h1 {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.name-container span {
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0.2rem 0.5rem;
  margin-left: 0.5rem;
  border-radius: 14px;

}

.name-container .mythical {
  background-color: red;
  box-shadow: 0 0px 25px 0px red

}

.name-container .legendary {
  background-color: yellow;
  box-shadow: 0 0px 25px 0px yellow

}

.name-container .baby {
  background-color: pink;
  box-shadow: 0 0px 25px 0px pink

}


