.filter-module {
  display: flex;
  gap: 2rem;
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  border-radius: 12px;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0;
  border-radius: 8px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.6);
}

.search-bar-container {
  flex-grow: 1;
  padding: 0 2rem 0 0;
}

.search-bar {
  width: 100%;
  border-radius: 8px;
  font-family: Poppins, Serif;
  font-size: 1.2rem;
  padding: 0.3em 0.8em;
  font-weight: 600;
  border: none;
  color: gray;
}

.search-bar:focus {
  outline: none;
}

.clear-btn {
  font-size: 1.2rem;

}

.select-btn {
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.arrow-dwn {
  display: flex;
  align-items: center;
}

.select-btn.open ~ .list-items {
  display: block;
}


.list-items {
  z-index: 1000;
  position: absolute;
  display: none;
  margin: 0;
  padding: 0;
  width: 100%;
  left: 0;
  top: 110%;
  border-top: none;
  border-radius: 8px;
  text-align: center;
  max-height: 200px;
  overflow-y: auto;
}

.list-items .item {
  list-style: none;
  padding: 0.5rem 1rem;
  filter: grayscale(1);
}

.list-items .item.selected {
  filter: grayscale(0);

}

.list-items .item span {
  font-size: 1rem;
  font-weight: 400;
}
