.filter-module {
  display: flex;
  gap: 2rem;
}

.container {
  position: relative;
  background-color: red;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
}

.select-btn {
  display: flex;
  align-items: center;

}

.arrow-dwn {
  display: flex;
  align-items: center;
}

.select-btn.open ~ .list-items {
  display: block;
}


.list-items {
  z-index: 1000;
  position: absolute;
  background-color: blue;
  display: none;
  margin: 0;
  padding: 0;
  width: 100%;
  left: 0;
}

.list-items .item {
  list-style: none;

}

.list-items .item.selected {
  background-color: green;
}
