body {
  background-color: hsl(240, 10%, 6%);
  font-family: "Poppins", serif;
  color: lightgrey;
}

body, html {
  margin: 0;
  padding: 0;
}

.page-container {
  padding: 5em 5em;
}

h1 {
  font-size: 2.986rem;
}

h2 {
  font-size: 2.488rem;
}

h3, input {
  font-size: 2.074rem;
}

h4 {
  font-size: 1.728rem;
}

h5 {
  font-size: 1.44rem;
}

h6 {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
}

.shadow {
  background-color: hsl(240, 7%, 11%);
  /* 1. inner glow 👇 */
  box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.1),
    /* 2. shadow ring 👇 */
  0 0 0 1px hsla(230, 13%, 9%, 0.075),
    /* 3. multiple soft shadows 👇 */
  0 0.3px 0.4px hsla(230, 13%, 9%, 0.02),
  0 0.9px 1.5px hsla(230, 13%, 9%, 0.045),
  0 3.5px 6px hsla(230, 13%, 9%, 0.09);
}

button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  padding: 0.3em 0.8em;;
  margin: 0;
  font: inherit;
  cursor: pointer;
  color: lightgrey;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  font-weight: 600;
  border-radius: 8px;
}

meter {
  /* style rules */
  appearance: none;

}

meter::-webkit-meter-bar {
  background: none; /* Required to get rid of the default background property */
  background-color: rgba(0, 0, 0, 0.6);
  height: 6px;
  padding: 2px;
  border-radius: 3px;

}

meter::-webkit-meter-optimum-value {
  background: none; /* Required to get rid of the default background property */
  background-color: lightgrey;
  border-radius: 3px;

}

.types .type-normal { background-color: #A8A77A; color: #6D6D4E; }
.types .type-fire { background-color: #EE8130; color: #B22200; }
.types .type-water { background-color: #6390F0; color: #0A47A1; }
.types .type-electric { background-color: #F7D02C; color: #B89A00; }
.types .type-grass { background-color: #7AC74C; color: #3A7D1A; }
.types .type-ice { background-color: #96D9D6; color: #4A7D7A; }
.types .type-fighting { background-color: #C22E28; color: #7A1A1A; }
.types .type-poison { background-color: #A33EA1; color: #6D1A6D; }
.types .type-ground { background-color: #E2BF65; color: #A17D1A; }
.types .type-flying { background-color: #A98FF3; color: #6D4EA1; }
.types .type-psychic { background-color: #F95587; color: #A10A47; }
.types .type-bug { background-color: #A6B91A; color: #6D7D1A; }
.types .type-rock { background-color: #B6A136; color: #7A6D1A; }
.types .type-ghost { background-color: #735797; color: #4A2E6D; }
.types .type-dragon { background-color: #6F35FC; color: #3A1AA1; }
.types .type-dark { background-color: #705746; color: #3A2E1A; }
.types .type-steel { background-color: #B7B7CE; color: #6D6D8A; }
.types .type-fairy { background-color: #D685AD; color: #A14E6D; }
